.control-strip {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.33) 0 0 5px 3px;
}

.control-spacing {
    height: 70px;
}

.add-dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #232323f6;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.add-dialog.true{
    visibility: visible;
    opacity: 1;
}

.add-dialog > .dialog {
    position: relative;
    max-height: 250px;
    top: 50px;
    margin: auto;
    transform: scale(1.33, 1.33);
    transition: transform 0.1s ease-out;
}

.add-dialog.true > .dialog {
    transform: scale(1, 1);
}

.add-cross {
    justify-self: center;
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.dialog > .grid-dialog{
    width: 95%;
}

.grid-dialog {
    margin: auto;
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.span-full {
    grid-column: span 2;
}

@media (min-width: 769px) {
    .grid-dialog {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }


}
