.grid-container > .con {
    box-shadow: black 0 0 15px 0;
}

.con {
    margin: 4px 4px 4px 0 !important;
    padding: 5px 0 5px 5px;
    height: fit-content;
    /*border: 1px solid rgba(0, 0, 0, 0.33);*/
    border-radius: 3px;
    background-color: #fcfcfc;
}
.con.magic {
    background-color: #ffffdd;
}

.container-contents > .con {
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 1px;
}

.container-contents {
    height: fit-content;
    max-height: 250px;
    overflow: auto;
    margin: 0 0 0 10px;
    transition: max-height 0.5s linear;
}

.con.collapsed > .container-contents {
    max-height: 0;
    overflow: hidden;
}

.item {
    padding: 0 0 0 5px;
    margin: 4px 4px 4px 0 !important;
    background-color: #fcfcfc;
    border-radius: 3px;
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 1px;
}
.item.magic {
    background-color: #ffffdd;
}

.item-stat {
    white-space: nowrap;
    padding: 0.75rem 2px !important;
}

.item-stat.warning {
    color: hsl(348, 100%, 61%);
}

.item-controls {
    padding: 0.75rem 5px !important;
}

.item-btn {
    width: 1.7em;
    height: 1.7em;
    display: inline-flex;
    margin: 0 1px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #4a4a4a;
    align-items: center;
    justify-content: center;
}

.item-btn.danger {
    background: hsl(348, 100%, 61%);
    border-color: transparent;
    color: #fcfcfc;
}

.item-btn:hover {
    color: #242424;
    background: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.item-btn.danger:hover{
    background: #ff2b56;
    border-color: transparent;
    color: white;
}
